<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>WhisperMLX UI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>local.whispermlx.ui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>WhisperMLX UI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>WhisperMLX UI benötigt das Mikrofon, um lokale Aufnahmen zu transkribieren.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>WhisperMLX UI benötigt Systemaudio, um lokale Aufnahmen zu transkribieren.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>WhisperMLX UI benötigt Systemaudio, um lokale Aufnahmen zu transkribieren.</string>
	<key>SUFeedURL</key>
	<string>$(SPARKLE_FEED_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_ED_KEY)</string>
</dict>
</plist>
